/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#outer{
	width: 1200px;
	background: pink;
	margin: 0 auto;
	padding: 20px;
}
.header{
	width: 100%;
	height: 100px;
	background: #e5e5e5
}
.logo{
	width: 20%;
	height: 100px;
/*	background: rgba(255,0,4,1.00);*/
	float: left;
}
.logo img{
	height: 90px;
	margin-left: 5px;
	margin-top: 8px;
}
.nav{
	width: 80%;
	height: 100px;
/*	background: rgba(0,200,217,1.00);*/
	float: left;
}
.nav ul{
	list-style: none;
	text-align: center;
	margin-top: 35px;
}
.nav ul li{
	display: inline-block;
	margin:0 20px;
}
.nav ul li a{
	color: green;
	text-decoration: none;
	font-size: 24px;
}
.main{
	width: 100%;
	background: #a8ff78;  /* fallback for old browsers */
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	height: 600px;
}
.left{
	width: calc(70% - 40px);
	height: 560px;
	background: url("../img/컬러 에코백 숄더백 데일리 자수 메쉬백 - 스마일 _ 위글위글 (1).gif");
	float: left;
	padding: 20px;
}
.left h1{
	color: #fca311;
	text-align: center;
	margin-bottom: 30px;
}
.left h2{
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}
.right{
	width: 30%;
	height: 400px;
	background: #14213d;
	float: right;
	border-radius: 10px;
}
.right img{
	width: 100px;
}
.footer{
	width: 100%;
	height: 100px;
	background: black;
}